@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');

li{
  list-style: none;
}
body{
font-family: 'Nunito', sans-serif;
}
.navbar{
  position: sticky;
  top:0;
  z-index: 999;
  padding: 10px 20px;
  width:100%;
  font-size: 16px;
  background-color: white;
}
nav ul li{
  text-align: center;
}
nav .collapse ul li a{
  color: #B8BECD;
}
nav .collapse ul li a:hover{
  color: #1572A1;
}
nav .collapse ul .active a{
  color: black
}
nav .messages{
  width: 40px;
  position: relative;
  margin: 5px;

}
nav .messages .msg-sum{
  background-color: #E3BEC6;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  justify-content: center;
  text-align: center;
  font-size: 12px;
  position: absolute;
  top: -8px;
  left: -8px;
}
nav .img-profile{
  width: 40px;
  margin-left: 20px;
}
.navbar img{
  width: 40px;
}
.profile{
  text-align: center;
  padding: 10px;
  margin: 86px 20px 0 20px;
}
.profile h1{
  font-size: 36px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 46px;
}
.profile .user .user-set{
  margin: 0 auto;
}
.profile .user .img-profile{
  width: 200px;
  border-radius: 50%;
}
.profile .user .user-set .change-profile{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #E3BEC6;
  position: relative;
}
.profile .user{
  font-weight: 700;
}
.profile .user .user-name{
  font-size: 30px;
  margin: 30px 0 15px 0;
}
.profile .user .about-user{
  height: 82px;
  font-size: 16px;
  line-height: 5px;
  margin-bottom: 50px;
}
.profile form{
  width: 100%;
  text-align: left;
}
.profile form h5{
  padding-top: 30px;
  font-weight: 700;
}

.input-gender{
  width: 200px;
  margin: 0 auto;
}
.select label{
  padding-left: 20px;
}
.input-gender .select{
  width: 50%;
}
.select input {
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  height: 25px;
  width: 25px;
  border: 1px solid #B8BECD;
  border-radius: 10px;
}
.container:hover input, .checkmark:hover {
  background-color: #EFDAD7;
}
.container input:checked ~ .checkmark {
  background-color: #E3BEC6;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.container input:checked ~ .checkmark:after {
  display: block;
}

.profile form .mb-1 input{
  border: none;
  background-color: #1572A1;
}

footer{
  background-color: #F9F9FB;
  text-align: center;
  font-family: 'Mulish', sans-serif;
  font-size: 16px;
  color: #848484;
  padding: 20px;
}
footer h5{
  font-size: 17px;
  font-weight: 700;
  line-height: 50px;
  color: black;
  padding-top: 50px;

}
footer a{
  text-decoration: none;
  color: #848484;
  display: block;
  text-align: center;
  line-height: 38px;
}
footer .row img{
  width: 40px;
  padding-bottom: 26px;
}
footer .row .about{
  text-align: center;
}
footer .copyright{
  padding: 50px 0;
  font-size: 15px;
}
footer .socmeds{
  border-top: 0.5px solid #C4C4C4;
  text-align: center;
}
footer .socmeds a{
  display: inline;
  margin: 0 10px;
  font-size: 20px;
  line-height: 83px;
  color: black;
}

@media(min-width: 768px){
  .navbar{
    padding: 10px 40px;
  }
  nav .messages{
    margin: 8px;
  }
  nav .img-profile{
    width: 50px;
    margin-left: 27px;
  }
  footer{
    font-size: 18px;
  }
  footer h5{
    font-size: 18px;
    text-align: center;
  }
  footer .row{
    padding-top: 76px;
    width: 600px;
    margin: 0 auto;
  }
  footer .row img{
    text-align: left;
  }
  footer .socmeds a{
    margin: 0 17.5px;
    font-size: 24px;
  }
}

@media(min-width: 992px){
  .header-space{
    height: 60px;
  }
  .header-space-two{
    height: 30px
  }
  .navbar{
    padding: 10px 123px;
  }
  nav ul li{
    margin: 0 15px;
  }
  nav .messages{
    margin: 10px;
  }
  nav .img-profile{
    width: 54px;
    margin-left: 30px;
  }
  footer{
    position: relative;
    padding: 0 90px;
    text-align: justify;
  }
  footer h5{
    padding-top: 0;
  }
  footer .row{
    width: 100%;
  }
  footer .copyright{
    position: absolute;
    bottom: 23%;
  }
  footer .row .about{
    width: 300px;
    text-align: justify;
  }
  footer .socmeds{
    margin-top: 74px;
  }
}